__pycache__/
.auth_token
.coverage
.DS_Store
.env
.env.*
.envrc
.git-credentials
.idea/
.venv/
.vscode/
*.egg-info/
*.log
*.py[cod]
*.pyc
*.pyd
*.pyo
*.so
*.sqlite3
build/
data/
dist/
env/
htmlcov/
infra/docker/docker-compose.override.yml
node_modules/
pytest_cache/
venv/
